<% include ./partials/header %>

  <% var i = 1 %>
  <% bars.forEach(function (bar) { %>

      <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal<%= i++%>" class="portfolio-link" data-toggle="modal">
              <div class="caption">
                  <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                  </div>
              </div>
              <img src="<%= bar.image %>" class="img-responsive" alt="Cabin">
          </a>
      </div>

    <% }) %>

      </div>
  </section>

  <% var j = 1 %>
  <% bars.forEach(function (bar) { %>
        <div class="portfolio-modal modal fade" id="portfolioModal<%= j++%>"" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                            <img src="<%= bar.image %>" class="img-responsive img-centered" alt="">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <h3 class="col-sm-4">Daily Special</h3>
                        <p class="col-sm-8 small special-body"><%= bar.special %></p>
                    </div>
                    <div class="row">
                        <h3 class="col-sm-4">Last Tweet</h3>
                        <p class="col-sm-8 small tweet-body"><%= bar.tweet %></p>
                    </div>
                    <div class="row">
                        <h3 class="col-sm-4"><%= bar.rsvps.length %> Tigers Going</h3>
                        <p class="col-sm-8 small tweet-body">
                    <% bar.rsvps.forEach(function (rsvp) { %>
                        @<%= rsvp.author.username %> 
                    <% }) %>
                        </p>
                    </div>
                </div>
            </div>

            <footer class="text-center modal-contact">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-4 col-md-offset-4">
                            <h3>Around the Web</h3>
                            <ul class="list-inline">
                                <li>
                                    <a href="<%= bar.facebook %>" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="<%= bar.twitter %>" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="<%= bar.instagram %>" class="btn-social btn-outline"><span class="sr-only">Instagram</span><i class="fa fa-fw fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>

            <div class="row">
                <form method="POST" action='<%= bar._id %>/rsvp'>
                    <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                    <button type="submit" name="submit_param" value="submit_value" class="col-sm-2 col-sm-offset-5 btn btn-default user-vote"><i class="fa fa-beer"></i> Going Tonight?</button>
                </form>
            </div>
        </div>
    </div>
  </div>

    <% }) %>
  




<% include ./partials/footer %>