<% include ./partials/header %>


<div>
    <% if (!currentUser) { %>
      <h1 id = "title"> Tiger Hopping Tonight?</h1>
    <% } else { %>
      <h1 id = "title"> Tiger Hopping Tonight <%= currentUser.username %>?</h1>
    <% } %>
      <small>
        <img id="mike" src="img/mike.png" >
        <p id = "under">Find out where Mike is going!!</P>
      </small>
</div>

<div id = "body"><br />

  <% bars.forEach(function (bar) { %>
    <div id = "bars">
      <div class="bar-row">
        <div class="bar-media">
          <br />
          <a href="<%= bar.facebook %>" itemprop="url"><img id="fb" align = "left" src="img/facebook.gif"</a>
          <a href="<%= bar.instagram %>" itemprop="url"><img id="social" align = "left" src="img/IG.png" </a>
          <a href="<%= bar.twitter %>" itemprop="url"><img id="social" align = "left" src="img/twitter.png"</a><br />
          <br />
          <a href="<%= bar.website %>" itemprop="url"><img id="barimages" src="<%= bar.image %>"</a><br />
          <a href="<%= bar.telephone %>"><img src="img/contact.png" id = "phone"/></a>
        </div>
        <div class="bar-status">
          <p class="tweet">Last Tweet: <%= bar.tweet %></p>
          <p class="special">Today's Special: <%= bar.special %></p>
        </div>
        <div class="bar-vote">
          <form method="POST" action='<%= bar._id %>/rsvp' class="">
            <input type="hidden" name="extra_submit_param" value="extra_submit_value">
              <button type="submit" name="submit_param" value="submit_value" class="user-vote"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> I'm Going!</button>
            <div class="vote-count">
              <p class='count'> <%= bar.rsvps.length %></p> Tigers Going
            </div>
          </form>
        </div>
      </div>
    </div><br />
    <% }) %>

</div>


<% include ./partials/footer %>